[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
click = "*"
coveralls = "*"
flake8 = "*"
pytest = "*"
pytest-cov = "*"
factory-boy = "*"
pytest-mock = "*"
requests = "*"

[packages]
elasticsearch-dsl = "<6.0.0,>=5.0.0"
flask = "*"
flask-restplus = "==0.13.0"
marshmallow = "*"
python-dotenv = "*"

[requires]
python_version = "3.7"
